body {
    font-family: Times New Roman, sans-serif;
    margin: 0;
    padding: 0;
    background-color: beige;
}   
.container {
    display: flex;
}
.header {
    background-color: black;
    color: gold; 
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    border: 5px double gold;
}

.side-panel {
    width: 200px;
    background-color: darkgoldenrod;
    padding: 20px;
    height: auto;
    border: 10px double black;
}

.side-panel h3 {
    margin-top: 0;
    font-size: 32px;
    color: black;
    font-family: georgia;
}

.options {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.options li {
    margin-bottom: 10px;
}

.options li a {
    color: black;
    text-decoration: none;
    font-family: Impact;
    font-size: 20px;
}

.options li a:hover {
    text-decoration: underline;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.search-bar {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-vault {
    display: flex;
    flex-wrap: wrap;
}

.password-item {
    width: calc(33.33% - 10px);
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    color: black;
}

/* Style for plus button */
.plus-button {
    width: 15px;
    padding: 10px; /* Adjusted padding to make the button smaller */
    background-color: darkgoldenrod;
    color: black;
    border-radius: 10px;
    text-align: center;
    font-size: 36px; /* Adjusted font size to make the button smaller */
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

.plus-button:hover {
    background-color: gold;
    color: black; /* Added color change on hover */
}

/* Style for dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    min-width: 100%;
}

/* Style for dropdown button */
.dropdown button {
    padding: 10px;
    background-color: black;
    color: gold;
    border-radius: 10px;
    cursor: pointer;
    font-family: georgia;
    font-size: 25px;
    width: 100%;
    text-align: center;
}

/* Style for dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 10px;
    background-color: darkgoldenrod;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style for dropdown options */
.dropdown-content input {
    display: block;
    width: 97%;
    border-radius: 10px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ddd;
    background-color: lightgray;
    color: black;
}

.dropdown-content input::placeholder {
    color: black;
}

/* Style for dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    min-width: 100%;
}