<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="stylesheet" href="/static/css/help.css">
    
</head>
<body>
    <div class="container">
        <div class="side-panel">
            <h3>Options</h3>
            <ul class="options">
                <li><a href="/PAC-Vault" method="post">Homepage</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
            <img src="/static/images/paclogoopen.png" style="height: 300px; width:200px;">
        </div>

<div class="qa-section">
    <h1>FAQ</h1>
    <div class="question">
        <h4>Q: What can I use for the QR code?</h4>
    </div>
    <div class="answer">
        <p>We recommend using Microsoft Authenticator.</p>
    </div>
    <div class="question">
        <h4>Q: How do I add more of my accounts?</h4>
    </div>
    <div class="answer">
        <p>The plus button on the Homepage will open a dropdown menu that you can enter youe information in.</p>
    </div>
    <div class="question">
        <h4>Q: How is my password stored?</h4>
    </div>
    <div class="answer">
        <p> The security of your passwords is our biggest priority. We make sure that even if someone may get acess to the database that the password is stored in a way that the information is not valuable to them. </p>
    </div>
    <div class="question">
        <h4>Q: Is this free?</h4>
    </div>
    <div class="answer">
        <p>Yes, PAC-Manager is free to use</p>
    </div>
    <div class="question">
        <h4>Q: Do you guys have a way of recommending passwords or checking ours</h4>
    </div>
    <div class="answer">
        <p> Yes, we have an option to strength check and generate passwords for users.</p>
    </div>
</div>
</body>
</html>