<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/static/css/profile.css">
</head>
<body>

<div class="container">
    <div class="side-panel">
        <h3>Options</h3>
        <ul class="options">
            <li><a href="/PAC-Vault" method="post">Homepage</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
    
    <div class="profile-info">
        <h2>Your Profile</h2>
        <div class="info-item">
            <label>Email:</label>
            <span>user@example.com</span>
        </div>
        <h3>Add 2-Factor Device:</h3>
        <button class="generate-qrcode-button" onclick="generateQRCode()">Generate QR Code</button>
    </div>
</div>
<script>
    function generateQRCode() {
        //code to generate QR code goes here
        alert("QR Code will be generated here!");
    }
</script>
</body>
</html>