<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager</title>
    <link rel="stylesheet" href="/static/css/userhome.css">
    <script src="/static/js/userhome.js"></script>
</head>
<div class="container">
    <div class="side-panel">
        <h3>Options</h3>
        <ul class="options">
            <li><a href="/profile" method="post">Profile</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
        <img src="/static/images/paclogoopen.png" style="height: 300px; width:200px;">
    </div>

    <div class="main-content">
        <div class="header">
            <h1>PAC-Manager Password Vault</h1>
        </div>
        <input type="text" class="search-bar" placeholder="Search passwords...">
        <h2 style="font-family: monospace">Stored Passwords:</h2>
        <div class="dropdown">
            <button onclick="togglePlusDropdown()">+</button>
            <div id="dropdownOptions" class="plusDropdown-content">
                <input id="inputDropdownName" type="text" placeholder="Name" style="background-color: gold;">
                <input id="inputDropdownURL" type="text" placeholder="URL" style="background-color: gold;">
                <input id="inputDropdownUName" type="text" placeholder="Username" style="background-color: gold;">
                <input id="inputDropdownPWord" type="text" placeholder="Password" style="background-color: gold;">
                <button class="save-button" onclick="saveCredentials(); saveDropdownData(); clearData();" style="width: 24%; font-size: 18px;">Save</button> 
                <button class="delete-button" onclick="clearData();" style="width: 24%; font-size: 18px;">Delete</button>
                <button class="strength-checker-button" onclick="checkPlusStrength()" style="width: 25%; font-size: 18px;">Strength Checker</button>
                <button class="generate-button" onclick="generatePlusPassword()" style="width: 24%; font-size: 18px;">Generate</button>
            </div>
        </div>
        <div class="password-vault">
            {% for id in accountid %}
            <div class="dropdown">
                <button onclick="toggleDropdown({{id[4]}})">{{id[3]}}</button>
                <div id={{id[4]}} class="dropdown-content">
                    <input id="inputDropdownURL-{{id[4]}}" type="password" value={{id[0]}} disabled>
                    <input id="inputDropdownUName-{{id[4]}}" type="password" value={{id[1]}} disabled>
                    <input id="inputDropdownPWord-{{id[4]}}" type="password" value={{id[2]}} disabled>
                    <button class="save-button" onclick="updateCredentials({{id[4]}});" style="width: 18%; font-size: 18px;">Save</button> 
                    <button class="edit-button" onclick="toggleEditMode()" style="width: 18%; font-size: 18px;">Edit</button>
                    <button class="delete-button" onclick="deleteCredentials({{id[4]}})" style="width: 18%; font-size: 18px;">Delete</button>
                    <button class="strength-checker-button" onclick="checkStrength({{id[4]}})" style="width: 25%; font-size: 18px;">Strength Checker</button>
                    <button class="generate-button" onclick="generatePassword({{id[4]}})" style="width: 18%; font-size: 18px;">Generate</button>
                </div>
            </div>
            {% endfor %}
        </div>
        <img src="/static/images/lockicon.png" style="display: block; margin: 0 auto; height: 300px; width: 300px;">
    </div>
</div>
</body>
</html>